<h2>Perfil de Usuario</h2>
<main class="containerCurrent">

    <aside class="btnCurrent">
        {{#if roleUser}}
        <button style="margin-top:30px"><a href="http://localhost:8080/messages/">Atención por chat</a></button>
        <button><a href="http://localhost:8080/carts/cart/{{user.cart}}">Ver mi carrito</a></button>
        {{/if}}
        {{#if roleAdmin}}
        <button><a href="http://localhost:8080/dashBoardProducts">Panel de administrador</a></button>
        {{/if}}


        <button><a href="http://localhost:8080/products">Inicio</a></button>

        <form action="/sessions/logout" method="POST">
            <button type="submit">Cerrar Sesión</button>
        </form>
    </aside>

    <section>
        <p>Nombre: {{user.first_name}}</p>
        <p>Apellido: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Edad: {{user.age}}</p>
        <p>Mi rol: {{user.role}}</p>
        {{#if roleUser}}
        <p>Carrito: <span style="font-weight: bold; color: green;">Activo</span></p>
        {{else}}
        <p>Carrito: <span style="font-weight: bold; color: red;">Desactivado</span></p>
        {{/if}}

    </section>
</main>